//*-------------------------------------------
//* Colors
//* Primary
$brand-01: #0b6bf2;
$ui-01: #fff;
$ui-02: #f4f7fb;
$ui-03: #c4cdd5;
$ui-04: #8897a2;
$ui-05: #5a6872;
$ui-06: #d67d67;
$text-01: #2e384d;
$text-02: #5a6872;
$text-03: #cdd1d4;
$text-04: #d67878;
$text-05: #fff;
$background-01: #f8f8f8;
$background-02: #ddd;
$background-03: #f2f2f2;
$input-border-01: #CDD9ED;
$input-border-focus: #275EFE;



//font family form google api
$font-01: Inter;
$font-02: Rubik;

//* Shadows
$shadow-01: 0 1px 5px 0 rgba(39, 45, 51, 0.2);
$shadow-02: 0 2px 16px 0 rgba(39, 45, 51, 0.4);
$shadow-03: 0 31px 41px rgba(39, 45, 51, 0.1);

