//*-------------------------------------------
//* Colors
//* Primary
$brand-01: #0b6bf2 !default;
$ui-01: #fff !default;
$ui-02: #f4f7fb !default;
$ui-03: #c4cdd5 !default;
$ui-04: #8897a2 !default;
$ui-05: #5a6872 !default;
$ui-06: #d67d67;
$text-01: #2e384d !default;
$text-02: #5a6872 !default;
$text-03: #cdd1d4 !default;
$text-04: #d67878 !default;
$text-05: #fff !default;
$background-01: #f8f8f8 !default;
$background-02: #ddd !default;
$background-03: #f2f2f2;



//font family form google api
$font-01: Inter;
$font-02: Rubik;

//* Shadows
$shadow-01: 0 1px 5px 0 rgba(39, 45, 51, 0.2);
$shadow-02: 0 2px 16px 0 rgba(39, 45, 51, 0.4);
$shadow-03: 0 31px 41px rgba(39, 45, 51, 0.1);

